@font-face {
    font-family: "1FTVRoashe";
    src: url("../fonts/1FTVRoashe.woff2") format('woff2'),
         url("../fonts/1FTVRoashe.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SVN-GothamLight";
    src: url("../fonts/SVN-GothamLight.woff2") format('woff2'),
         url("../fonts/SVN-GothamLight.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SVN-GothamBold";
    src: url("../fonts/SVN-GothamBold.woff2") format('woff2'),
         url("../fonts/SVN-GothamBold.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DFVN-CatchyMager-Regular";
    src: url("../fonts/DFVN-CatchyMager-Regular.woff2") format('woff2'),
         url("../fonts/DFVN-CatchyMager-Regular.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}


:root{
    --background-color: #eae8e3ff;
    --primary-color: #383535;
    --secondary-color: #F8F3ED;
    --font-gotham: 'SVN-Gotham';
    --font-mtd: 'MTD Doppelganger Display';
    --font-aston: 'Aston Script';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: '1FTVRoashe', sans-serif;
    font-weight: normal;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.container {
    max-width: 480px;
    width: 100%;
    background-color: var(--background-color);
    margin: 0 auto;
    color: var(--primary-color);
}

/* Header Section */
header {
    text-align: center;
    padding: 78px 20px 40px 20px;
    font-size: 11.58px;
}

.intro-text {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 1.6;
    color: var(--primary-color);
}

/* Names Section */
.names {
    background-image: url('../images/path12276.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 10px;
}

.names h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    color: #333;
    margin: 10px 0;
    position: relative;
}

.names h1:first-child {
    text-align: left;
}

.names h1:last-child {
    text-align: right;
}

.names h1:first-child::after {
    content: '';
    position: absolute;
    right: 11px;
    top: 40px;
    display: block;
    height: 1px;
    width: 65px;
    background-color:rgb(51 51 51);
    overflow: hidden;
}

/* Photo Section */
.main-photo {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.main-photo .img-box {
    display: flex;
    /* text-align: right; */
    justify-content: flex-end;
    width: 100%;
    z-index: -100;
}
.main-photo .img-box img {
    width: 280px;
    height: auto;
    display: block;
}

.main-photo .photo-overlay {
    display: flex;
    width: 100px;
    flex-direction: column;
    position: absolute;
    right: 240px;
    bottom: 10px;
}

.main-photo .photo-overlay .number {
    display: flex;
    width: 80px;
    color: white;
    z-index: 100;
}

.main-photo .photo-overlay .number p {
    font-family: "DFVN-CatchyMager-Regular", sans-serif;
    font-size: 58px;
    font-weight: bold;
    width: 50%;
    padding: 0 5px;
    height: 65px;
}

.main-photo .photo-overlay .number p:first-child {
    text-align: right;
    color: var(--primary-color);
}

.main-photo .text-overlay {
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    font-size: 10px;
    bottom: 95px;
    right: -40px;
    font-weight: 400;
}

/* Wedding Info */
.wedding-info {
    text-transform: lowercase;
    text-align: right;
    padding: 30px 20px;
}

.wedding-info .date-text {
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1.4px;
    color: #383535;
    margin: 5px 0;
}

/* Save the Date */
.save-date {
    text-align: center;
    padding: 60px 20px 0px 20px;
}

.save-date h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #383535;
    padding-bottom: 20px;
}

/* Venue Section */
.venue {
    text-align: center;
    padding: 25px 20px;
}

.venue .venue-description {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 5px 0;
}
.venue .venue-description strong {
    font-family: "SVN-GothamBold", sans-serif;
}

.venue .venue-name {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    margin: 30px 0 20px;
}

.venue .venue-address {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 1.6;
    padding: 0 30px 15px 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.venue .btn-map {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 14px;
    width: 250px;
    display: inline-block;      
    padding: 3px 20px;         
    background-color: var(--primary-color);
    color: white;              
    border: 1px solid var(--primary-color);
    text-decoration: none;      
    border-radius: 20px;         
    font-weight: bold;        
    transition: background 0.3s;
}

.venue .btn-map:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.venue .date-box {
    padding: 30px 0
}

.venue .date-box .text-date {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.venue .event-date {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 25px;
}

/* Timeline Section */
.timeline {
    background-image: url('../images/g730.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    padding: 0px 20px;
}

.timeline h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #333;
    margin-bottom: 50px;
}

.timeline .timeline-items {
    position: relative;
    margin-top: 40px;
    padding: 0 40px;
}

.timeline-items .timeline-item:nth-child(2) {
    justify-content: end;
}

.timeline .timeline-items .timeline-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.timeline .timeline-items .timeline-item div {
    padding: 0 5px;
}

.timeline .timeline-items .timeline-item .time-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .timeline-items .timeline-item .time-icon img {
    width: 100%;
}

.time-text {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Photo Gallery */
.photo-gallery {
    padding: 150px 40px 30px 40px;
}

.photo-gallery .text-title {
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 1.2px;
    padding-bottom: 10px;
}

.photo-gallery .gallery-container {
    display: flex;
    flex-direction: row;
}

.photo-gallery .gallery-container .img-box {
    padding: 3px;
}

.photo-gallery .gallery-container .img-box img {
    width: 100%;
    height: auto;
}

/* Quote Section */
.quote {
    text-align: right;
    padding: 0 45px;
}

.quote p {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin: 5px 0;
}

/* RSVP Section */
.rsvp {
    background-image: url('../images/end-03.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 40px 45px;
}

.rsvp .img-style {
    width: 30%;
}

.rsvp .img-style img {
    width: 100%;
}

.rsvp .rsvp-text {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 30px;
    line-height: 1.6;
}

.rsvp .rsvp-text strong {
    font-family: "SVN-GothamBold", sans-serif;
}

.rsvp-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rsvp-buttons input[type="radio"] {
    display: none;
}

.rsvp-buttons label {
    font-family: "SVN-GothamLight", sans-serif;
    padding: 7px 25px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.rsvp-buttons label:hover {
    background-color: #333;
    color: #e8e3db;
}

.rsvp-buttons input[type="radio"]:checked + label {
    background-color: #333;
    color: #e8e3db;
}

.message-section {
    margin: 30px 0;
}

.message-section textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    border: 1px solid var(--primary-color);
    /* background-color: var(--background-color); */
    background-color: transparent;
    font-size: 12px;
    color: #333;
    margin-bottom: 15px;
    border-radius: 15px;
    resize: none;
    font-family: "SVN-GothamLight", sans-serif;

}

.message-section input {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    font-size: 12px;
    color: #333;
    border-radius: 15px;
    font-family: "SVN-GothamLight", sans-serif;
}

.btn-send {
    padding: 12px 40px;
    border: 1px solid #333;
    background-color: #333;
    color: #e8e3db;
    font-size: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn-send:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.end-text {
    padding-top: 20px;
}

.final-note {
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--primary-color);
    line-height: 1.6;
    font-style: italic;
    text-align: left;
}

::placeholder {
    color: #444444;
    font-style: italic;
}


/* music */
.player {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 45px;
    height:45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
}

.player img {
    width: 100%;
    height: auto;
}

.spin {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
